{
    "require": [
      "babel-register"
    ],
    "reporter": [
      "lcov",
      "text"
    ],
    "include": [
      "src/**/*.spec.js"
    ],
    "exclude": [
      "src/**/*.scss"
    ],
     "extension": [
          ".jsx",
          ".es6"
     ],
    "instrument": false,
    "sourceMap": false,
    "all": true
}
