@import url('https://fonts.googleapis.com/css?family=Marriweather');

$brand-purple: rgb(135, 140, 223);
$brand-green: rgb(153, 251, 198);
$font-size: 5rem;
$merriweater: "Merriweather", sans-serif;

body {
  background-color: $brand-purple;
  color: $brand-green;
  font-family: $merriweater;
  font-size: $font-size;
  font-weight: 900;
  height: 100vh;
}

.test {
  background-image: url('../images/slider01.jpg');
  display: flex;
}

.test {

}
